*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(57, 40, 159, 1);
}
a{
    text-decoration: none;
    color: white;
}
.background{
    background-image: url('img/gamepad.png');
    background-repeat: no-repeat;
    background-position: right 100px top;
}
header{
    display: flex;
    height: 70px;
}
header .menu-btn{
    position: relative;
}  
header .menu-btn:hover::before,
header .menu-btn:hover::after,
header .menu-btn.active::before,
header .menu-btn.active::after {
    opacity: 1;
}  
header .menu-btn::before,
header .menu-btn::after {
    position: absolute;
    content: "";
    bottom: 0;
    background-color: rgba(220, 112, 0, 1);
    height: 4px;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.2s;
} 
header .menu-btn::before {
    width: 31px;
    left: 4px;
}  
header .menu-btn::after {
    width: 5px;
    left: 40px;
}
.logo{
    font-size: 29px;
    width: 48%;
    margin-left: 60px;
    margin-top: 30px;
}
.header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 52%;
    height: 50px;
    margin-top: 1%;
    font-size: 16px;
}
a.contact-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 144, 33, 1);
    width: 15%;
    height: 75%;
    padding: 0;
    border-radius: 7px;
    border: 5px solid rgba(250, 144, 33, 1);
    transition: ease 0.3s;
}
a.contact-btn:hover{
    background-color: rgba(57, 40, 159, 1);
    transition: ease 0.3s;
}
.main-info{
    width: 28%;
    margin-left: 9%;
    margin-top: 8%;
    height: 700px;
}
.color-orange{
    color: rgba(232, 125, 14, 1);
}
.size-50{
    font-size: 50px;
}
.main-info p{
    margin-top: 30px;
}
.main-info h4{
    line-height: 40px;
}
.main-info a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 195px;
    height: 50px;
    border: 5px solid rgba(250, 131, 5, 1);
    background-color: rgba(250, 131, 5, 1);
    transition: ease 0.3s;
}
.main-info a:hover{
    background-color: rgba(57, 40, 159, 1);
    transition: ease 0.3s;
}
.tranding{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
}
.tranding-first{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 10%;
}
.tranding-first a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    width: 8%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 6px;
    transition: ease 0.3s;
}
.tranding-first a:hover{
    background-color: rgba(255, 255, 255, 0.4);
    transition: ease 0.3s;
}
.tranding-second{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    margin-top: 70px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    line-height: 45px;
    width: 260px;
    height: 280px;
    border-radius: 20px;
    box-shadow: rgb(82, 57, 224) 10px 5px 16px 3px, rgba(218, 44, 44, 0.563) -6px -2px 16px 2px;
}
.container{
    width: 125px;
    height: 25px;
    font-size: 5px;
    transition: ease 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 15px;
    visibility: hidden;
}
.cards button{
    border: none;
    background: url('img/bookmark-plus.svg') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: ease 0.1s;
}
.cards button:hover{
    transition: ease 0.3s;
    background: url('img/bookmark-plus-fill.svg') no-repeat center;
    background-size: cover;
}
.cards button:focus{
    background: url('img/bookmark-plus-fill.svg') no-repeat center;
    background-size: cover; 
}
.fortnite{
    transition: ease 0.2s;
    background: url('img/fortnite.avif') center no-repeat;
    background-size: cover;
}
.fortnite:hover .container{
    transition: ease 0.3s;
    visibility: visible;
    transform: scale(2);
    font-size: 9px;
    margin-bottom: 15px;
}
.fortnite:hover{
    background: url('img/fortnite-effect.png') no-repeat center;
    background-size: cover;
    transition: ease 0.3s;
}
.stalker{
    transition: ease 0.2s;
    background: url('img/stalker.webp') no-repeat center;
    background-size: cover;
}
.stalker:hover{
    transition: ease 0.3s;
    background: url('img/stalker-effect.png') no-repeat center;
    background-size: cover;
}
.stalker:hover .container{
    transition: ease 0.3s;
    visibility: visible;
    transform: scale(2);
    font-size: 9px;
    margin-bottom: 15px;
}
.metro{
    transition: ease 0.2s;
    background: url('img/metro.jpg') center no-repeat;
    background-size: cover;
}
.metro:hover{
    transition: ease 0.3s;
    background: url('img/metro-effect.png') no-repeat center;
    background-size: cover;
}
.metro:hover .container{
    transition: ease 0.3s;
    visibility: visible;
    transform: scale(2);
    font-size: 9px;
    margin-bottom: 15px;
}
.minecraft{
    transition: ease 0.2s;
    background: url('img/minecraft.webp') no-repeat center;
    background-size: cover;
}
.minecraft:hover{
    transition: ease 0.3s;
    background: url('img/minecraft-effect.png') no-repeat center;
    background-size: cover;
}
.minecraft:hover .container{
    transition: ease 0.3s;
    visibility: visible;
    transform: scale(2);
    font-size: 9px;
    margin-bottom: 15px;
}
